@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Olá, bem vindo ao nosso sistema</h2>
    <p>Nome: @ViewData["name"]</p>
    <span>@ViewData["email"]</span>
</div>
